{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast</title>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
  

</head>
<body>
	<!-- your single-location forecast interface here -->
  <div class="container-fluid">
  <div class="row">
    <div class="col-xs-2 text-center">
      <img src="{% static 'weather/images/location.png' %}" class="img0">
    </div> 
    <div class="col-xs-8 text-center">
      <h2>Berkeley</h2>
    </div> 
    <div class="col-xs-2 text-center">
     <button type="button active" class="btn btn-default center-block btn-lg"  onclick="location.href='/weather/comparison/'"> + </button>
    </div> 
    


      <div class="col-xs-12">
        <!-- image of the main weather icon-->
        <img src="{% static 'weather/images/sunny.png' %}"> 
      </div>
    </div>

    <div class="row">
      
      <div class="col-xs-12 text-left" style="padding-bottom: 200px;">
        <h2>
          68/55 F
        </h2>
        <h1>
          Sunny
        </h1>
        <h3>
          Wear t-shirts and sunglasses
        </h3>
      </div>
    </div>
    
    <div class="row">
      
      <div class="col-xs-4 text-center">
        <h3>
          now
        </h3>
        <img src="{% static 'weather/images/sunny.png' %}"> <!-- icon of weather for hourly forecast-->
        <h3>
          68F
        </h3>
      </div>
      
       <div class="col-xs-4 text-center">
        <h3>
          10 AM
        </h3>
        <img src="{% static 'weather/images/partlycloudy.png' %}"> <!-- icon of weather for hourly forecast-->
        <h3>
          67F
        </h3>
      </div>
      
       <div class="col-xs-4 text-center">
        <h3>
          11 AM
        </h3>
        <img src="{% static 'weather/images/cloudy.png' %}"> <!-- icon of weather for hourly forecast-->
        <h3>
          66F
        </h3>
      </div>
      
    </div>
  </div>
</body>
</html>





